@import "icosa/styles/colors";
@import "icosa/styles/tabs";

.asi-comparison {
  @extend %react-tabs-container;

  > p {
    > label {
      display: inline-block;
      vertical-align: top;
      margin-top: .5em;
      margin-bottom: .5em;
      margin-right: 1em;
    }
  }

  .gray {
    color: rgba(0, 0, 0, .4);
  }
}
