@import "icosa/styles/colors";

.evaluated-gene {
  margin: 3rem 0;
  padding: 1rem;
  position: relative;
  border: 1px solid color(dividing-line-light);
  > h2 {
    position: absolute;
    margin: -3rem -1rem 0;
  }

  > section {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      margin-top: 0;
      border-bottom: 2px solid color(type-main);
    }
  }

  table {
    tbody > tr > td em {
      color: color(name-dustygray);
    }
  }

  .comments ul {
    padding: 0 1rem;
    > li {
      margin: 1rem 0;
    }
  }

}
