@import "icosa/styles/colors";

.asi-visual-editor {

  .option-row > label {
    display: inline-block;
    width: 7rem;
  }

  .comments-input, .comments-output,
  .rules-input, .rules-output {
    margin-left: .4rem;
  }

  .errors {
    color: color(type-error);
    overflow-y: auto;
    max-height: 10rem;
    border: 1px solid color(type-error);
  }

}
