@import "icosa/styles/default-colors";
@import "icosa/styles/constants";

body {
  @include default-color();
  margin: 0;
  font-size: 14px;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
