@import "icosa/styles/colors";
@import "icosa/styles/select";

$grid-gap: .5rem;

.asiface-grid {
  display: grid;
  height: var(--height);
  grid-template-rows: 3rem $grid-gap min(80%, max(7rem, calc(var(--vertical-pcnt) - 3rem - $grid-gap))) $grid-gap 1fr;
  grid-template-columns: min(90%, max(50rem, var(--horizontal-pcnt)) ).5rem 1fr;
}

.asiface-cell-preload-selector {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  line-height: 1.5rem;
  padding-top: .5rem;

  > svg {
    height: 1.5em;
    color: color(type-main);
    margin-left: 1rem;
    display: inline-block;
    vertical-align: middle;
  }

  > .asi-preload-dropdown {
    @include select('asi-preload-dropdown');
  
    display: inline-block;
    margin: 0 1rem;
    max-width: 20rem;
  }

}

.asiface-gap-vertical {
}

.asiface-resize-bar {
  background-color: color(dividing-line);
  background-clip: content-box;
  &[data-direction="vertical"] {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: calc(($grid-gap - 2px) / 2) 0;
    margin: 0 .5rem;
    cursor: row-resize;
  }
  &[data-direction="horizontal"] {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    padding: 0 calc(($grid-gap - 2px) / 2);
    margin: .5rem 0;
    cursor: col-resize;
  }
}

.asiface-cell-xml-editor {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 6;
}

.asiface-cell-mutation-editor {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;

  > textarea {
    margin: 1rem;
    resize: vertical;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
  }
}

.asiface-cell-evaluator {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  max-height: 100%;
  overflow-y: scroll;
  position: relative;

  .evaluator-error {
    color: color(type-error);
    font-family: monospace;
  }

  .evaluate-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}

